autopep8==1.6.0
bandit==1.7.2
black==22.3.0
coverage==6.3
diff-cover==6.4.4
django-debug-toolbar==3.2.4
django-debug-toolbar-request-history==0.1.4
django-stubs==1.9.0
django-test-migrations==1.2.0
django-webtest==1.9.9
factory-boy==3.2.1
Faker==11.3.0
flake8==4.0.1
flake8-bugbear==22.1.11
isort==5.10.1
mock==4.0.3
mypy==0.931
pylama==8.3.7
pylint==2.12.2
pylint-django==2.5.0
pylint-pytest==1.1.2
pytest==6.2.5
pytest-cov==3.0.0
pytest-django==4.5.2
pytest-env==0.6.2
pytest-mock==3.6.1
pytest-pythonpath==0.7.3
pytest-sugar==0.9.4
safety==1.10.3
