autopep8==2.3.2
bandit==1.9.4
chardet==5.2.0
black==26.5.1
coverage==7.15.2
django-upgrade==1.31.1
darker==1.7.2
diff-cover==7.7.0
django-debug-toolbar==7.0.0
django-stubs==6.0.7
django-test-migrations==1.5.0
django-webtest==1.9.14
factory-boy==3.3.3
Faker==40.36.0
flake8==7.3.0
flake8-bugbear==25.11.29
isort==7.0.0
mock==5.1.0
mypy==2.1.0
pylama==8.4.1
pylint==4.0.5
pylint-django==2.8.0
pytest==8.4.2
pytest-cov==7.1.0
pytest-django==4.14.0
pytest-env==1.2.0
pytest-mock==3.15.1
pytest-sugar==0.9.7
safety==3.7.0
setuptools==80.10.2

