autopep8==1.5.7  # max
bandit==1.7.1  # max
black==22.8.0
coverage==6.2
darker==1.4.2
diff-cover==6.5.1
django-debug-toolbar==3.2.4
django-debug-toolbar-request-history==0.1.4
django-stubs==1.9.0
django-test-migrations==1.2.0
django-webtest==1.9.10
factory-boy==3.2.1
Faker==14.2.1
flake8==5.0.4
flake8-bugbear==22.9.23
isort==5.10.1
mock==5.1.0
mypy==0.971
pylama==7.7.1
pylint==2.13.9
pylint-django==2.5.3
pylint-pytest==1.1.2
pytest==6.2.5
pytest-cov==4.0.0
pytest-django==4.5.2
pytest-env==0.6.2
pytest-mock==3.6.1
pytest-pythonpath==0.7.4
pytest-sugar==0.9.6
safety==2.3.5
